{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="d-flex justify-content-center">
        <div class="card w-75 h-100">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/458068097/photo/adidas-superstar.jpg?s=612x612&w=0&k=20&c=cBTSduk5_pPHdQi-Qz_YgJrkceHM4Wk4oDww5O_vwaw=" class="card-img-top" alt="Adidas Superstar">
                <div class="card-body">
                    <h5 class="card-title text-decoration-underline">Adidas</h5>
                    <p class="card-text">Tired of shoes that can't keep up? Experience superior cushioning, durable materials, and stylish designs that go the distance. Invest in your feet, invest in quality.</p>
                    <a href="{{ url_for('adidas') }}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}