{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="d-flex justify-content-center">
        <div class="card w-75 h-100">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/1209051005/photo/logo-of-christian-dior-seen-on-their-prague-main-boutique-dior-or-cd-is-a-french-luxury-goods.jpg?s=612x612&w=0&k=20&c=wAxLQ4tGXApC7YigfPHtfGx1E9U15Z-jb2UJBz_K-eQ=" class="card-img-top" alt="Dior">
                <div class="card-body">
                    <h5 class="card-title">Dior</h5>
                    <p class="card-text">Your Style Starts from the Ground Up. Make a statement with our curated collection of designer clothes. From sleek and sophisticated to bold and expressive. Elevate your look, step out with confidence.</p>
                    <a href="{{ url_for('dior') }}" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}