<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Featured Products</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
          <div id="featuredProductCarousel" class="carousel carousel-dark slide h-100">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#featuredProductCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#featuredProductCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#featuredProductCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner h-100">
                  <div class="carousel-item active h-100" data-bs-interval="10000">
                    <img src="https://media.istockphoto.com/id/458517521/photo/window-display-trainers.jpg?s=612x612&w=0&k=20&c=p9ztGUahSVY6nltFLXAuUj0GtdVMRPYpVnGKxsVo0gA=" class="d-block w-100 h-100" style="object-fit: cover;" alt="Adidas Shoes">
                      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                          <h5>Best quality for our customers</h5>
                      </div>
                  </div>
                  <div class="carousel-item h-100" data-bs-interval="2000">
                    <img src="https://media.istockphoto.com/id/171253204/photo/adidas-trainers-isolated.jpg?s=612x612&w=0&k=20&c=cad84v4j62jmatXZP2eNAsbS11769n6RPKCbIlVL3WQ=" class="d-block w-100 h-100" style="object-fit: cover;" alt="Adidas Trainers Isolated">
                      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                          <h5>Worth your money</h5>
                      </div>
                  </div>
                  <div class="carousel-item h-100">
                    <img src="https://media.istockphoto.com/id/458686009/photo/adidas-shoes.jpg?s=612x612&w=0&k=20&c=z4QhXRLV5MQc9VFS27JmSNKhceijEpcVvT4kqzaKOkM=" class="d-block w-100 h-100" style="object-fit: cover;" alt="Adidas Shoes on Display">
                      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
                          <h5>New on the market</h5>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#featuredProductCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#featuredProductCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>
</div>
