{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="d-flex justify-content-center">
      <div class="card w-75 h-100">
        <img src="https://media.istockphoto.com/id/1962578958/photo/varna-bulgaria-25th-january-2024-new-smartphone-samsung-galaxy-s24-ultra-and-details-on-the.jpg?s=2048x2048&w=is&k=20&c=vpD-m86LuBZcKqNyWulKl-Bj1px0A1jjEKsuiptPamk=" class="card-img-top" alt="Samsung">
        <div class="card-body">
          <h5 class="card-title">Samsung</h5>
          <p class="card-text">
            Limited Edition Drop! The freshest smart device has just landed in Nairobi. Don't miss your chance
            to snag these must-have styles. Designed for comfort and crafted with an eye for detail.
          </p>
          <a href="{{ url_for('samsung') }}" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}