{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="d-flex justify-content-center">
      <div class="card w-75 h-100">
        <img src="https://media.istockphoto.com/id/1199648781/photo/new-samsung-galaxy-note-10-android-smartphone.jpg?s=612x612&w=0&k=20&c=OVoepdXp3ibbBHm5KoouSxskXZ3pvg6zJnF1EPoR1Hc=" class="card-img-top" alt="Samsung">
        <div class="card-body">
          <h5 class="card-title">Samsung</h5>
          <p class="card-text">
            Limited Edition Drop! The freshest smart device has just landed in Nairobi. Don't miss your chance
            to snag these must-have styles. Designed for comfort and crafted with an eye for detail.
          </p>
          <a href="{{ url_for('samsung') }}" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}